USE [Shopping]
GO
/****** Object:  Table [dbo].[RoleAccount]    Script Date: 03/22/2022 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAccount](
	[id] [int] NOT NULL,
	[role_name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Rolename] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RoleAccount] ([id], [role_name]) VALUES (1, N'User')
INSERT [dbo].[RoleAccount] ([id], [role_name]) VALUES (2, N'Admin')
/****** Object:  Table [dbo].[Category]    Script Date: 03/22/2022 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Art & Photography')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Biographies & Memoirs')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Business & Economics')
/****** Object:  Table [dbo].[account]    Script Date: 03/22/2022 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[displayname] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](255) NULL,
	[roleid] [int] NULL,
 CONSTRAINT [PK__account__3213E83F3F466844] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[account] ON
INSERT [dbo].[account] ([id], [username], [password], [displayname], [address], [email], [phone], [roleid]) VALUES (1, N'Admin', N'Admin', N'tuan', N'hungyen', N'admin@gmail.com', N'0123456789', 2)
INSERT [dbo].[account] ([id], [username], [password], [displayname], [address], [email], [phone], [roleid]) VALUES (2, N'phucthach2k1', N'Phucthach', N'Phuc Thach', N'Hung Yen', N'nguyentientu2k1@gmail.com', N'123456789', 1)
INSERT [dbo].[account] ([id], [username], [password], [displayname], [address], [email], [phone], [roleid]) VALUES (5, N'abc', N'123', N'abc', N'hungyen', N'abc@gmail.com', N'1234567890', 1)
SET IDENTITY_INSERT [dbo].[account] OFF
/****** Object:  Table [dbo].[Product]    Script Date: 03/22/2022 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] NOT NULL,
	[name] [nvarchar](255) NULL,
	[quantity] [int] NULL,
	[price] [float] NULL,
	[description] [nvarchar](255) NULL,
	[imageUrl] [varchar](900) NULL,
	[create_date] [date] NULL,
	[Categoryid] [int] NULL,
	[Suppliers] [nvarchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [imageUrl], [description], [create_date], [Categoryid], [Suppliers]) VALUES (1, N'Fashionpedia', 9, 6.3, N'https://salt.tikicdn.com/cache/w1200/ts/product/d1/77/70/d7bfbeed02cbc5802b1db17244c4f56a.jpg', N'Fashionpedia is the ultimate fashion bible, containing thousands of fashion items for more efficient and productive brainstorming.', CAST(0xE8420B00 AS Date), 1, N'HP                                                ')
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [imageUrl], [description], [create_date], [Categoryid], [Suppliers]) VALUES (2, N'Raphael: Masters of Italian Art', 8, 12.5, N'https://salt.tikicdn.com/cache/w1200/ts/product/8a/6f/07/ca9414cfd88cd819c112d1855992a725.jpg', N'Other specified disorders of urethra', CAST(0x5A420B00 AS Date), 1, N'LG                                                ')
INSERT [dbo].[Product] ([id], [name], [quantity], [price], [imageUrl], [description], [create_date], [Categoryid], [Suppliers]) VALUES (3, N'Van Dyck', 17, 13.2, N'https://salt.tikicdn.com/cache/w1200/ts/product/45/31/74/0ef3fe408ab31f80d34a1abc7f31ccf6.jpg', N'Other specified disorders of urethra', CAST(0x25420B00 AS Date), 1, N'HHT                                               ')
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[totalPrice] [float] NULL,
	[note] [nvarchar](255) NULL,
	[create_date] [date] NULL,
 CONSTRAINT [PK__orders__3213E83F46E78A0C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[orders] ON
INSERT [dbo].[orders] ([id], [account_id], [totalPrice], [note], [create_date]) VALUES (1, 1, 0, N'abc', CAST(0xB2430B00 AS Date))
INSERT [dbo].[orders] ([id], [account_id], [totalPrice], [note], [create_date]) VALUES (2, 1, 104, N'abc', CAST(0xB2430B00 AS Date))
INSERT [dbo].[orders] ([id], [account_id], [totalPrice], [note], [create_date]) VALUES (3, 1, 91, N'', CAST(0xB2430B00 AS Date))
SET IDENTITY_INSERT [dbo].[orders] OFF
/****** Object:  Table [dbo].[Detail]    Script Date: 03/22/2022 09:43:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[productname] [nvarchar](255) NULL,
	[productimage] [nvarchar](255) NULL,
	[productPrice] [float] NULL,
	[productid] [int] NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK__Detail__3213E83F4AB81AF0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
GO
/****** Object:  ForeignKey [FK_account_RoleAccount]    Script Date: 03/22/2022 09:43:23 ******/
ALTER TABLE [dbo].[account]  WITH CHECK ADD  CONSTRAINT [FK_account_RoleAccount] FOREIGN KEY([roleid])
REFERENCES [dbo].[RoleAccount] ([id])
GO
ALTER TABLE [dbo].[account] CHECK CONSTRAINT [FK_account_RoleAccount]
GO
/****** Object:  ForeignKey [FK_Detail_orders]    Script Date: 03/22/2022 09:43:23 ******/
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[Detail] CHECK CONSTRAINT [FK_Detail_orders]
GO
/****** Object:  ForeignKey [FK_Detail_Product]    Script Date: 03/22/2022 09:43:23 ******/
ALTER TABLE [dbo].[Detail]  WITH CHECK ADD  CONSTRAINT [FK_Detail_Product] FOREIGN KEY([productid])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[Detail] CHECK CONSTRAINT [FK_Detail_Product]
GO
/****** Object:  ForeignKey [FK_orders_account]    Script Date: 03/22/2022 09:43:23 ******/
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[account] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_account]
GO
/****** Object:  ForeignKey [FK__Product__Categor__0CBAE877]    Script Date: 03/22/2022 09:43:23 ******/
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK__Product__Categor__0CBAE877] FOREIGN KEY([Categoryid])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK__Product__Categor__0CBAE877]
GO
